
:root{ 
/* -------- COLORS ---------
/*Primary Blues*/
--primeLight: #c3fdff;
--primeMedium: #90caf9;
--primeDark: #5d99c6;

/*Secondary */
--secondLight: #b085f5;
--secondMedium: #7e57c2;
--secondDark: #4d2c91;

/*Grays*/
--footerGray: #F5F5F5;


/* --------- Page Margins ----------- */
--leftSide: 20px;
}

.noSelect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


h1 
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h2
{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

#jpLogoWhite.png

#navbar
{
	position: absolute;
}

#icon
{
	position: fixed;
	margin-top: 20px;
	margin-left: var(--leftSide);
}

#scrollNotice
{
	position: fixed;
	margin-top: 85vh;
	text-align: center;
	font-family: 'Cormorant Unicase', serif;
	width: 100%;
	font-size: 18px;
}

#title-block
{
	right: 0;
	text-align: right;
	margin-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	vertical-align: center;
	position: absolute;
	color: white;

}

/* -------------------- FOOTER DATE ---------------- */

#date {
	position: absolute;
	bottom: 10px;
	text-align: center;
	padding-left: var(--leftSide);
	margin: 0;
	color: white;
}

#crDate
{
	font-family: 'Cormorant Infant', serif;
}



/* -------------------- SLIDERS ---------------- */

#sliders {
	position: absolute;
	margin-top: 20vh;
	margin-left: var(--leftSide);

}

#ex1Slider #ex2Slider #ex3Slider .slider-selection {
	background: #BABABA;

}

.sliderDesc{
	color: white;

}

.sliderGroup{
	padding-bottom: 35px;
}

.slider-selection {
	background: white;
	height: 1px;
}

.slider-handle {
	background: white;
}

.fadeJ {
	display: none;
}
